.fixtures {
	.teamData {
		display: none;
	}

	.date-pickers {
		align-items: center;
		display: flex;
		margin: 0 0 10px;

		&__container {
			display: flex;
			flex-direction: column;
			padding: 0 10px 0 0;
		}

		&__label {
			font-weight: 600;
			margin: 0 0 4px;
		}
	}

	.fixture-table {
		display: flex;
		flex-direction: column;
		margin: 0 0 20px;

		&__row-container {
			.--child {
				pointer-events: none;
			}
		}

		&__row {
			border-bottom: 1px solid $black;
			cursor: pointer;
			display: flex;
			font-size: $font-size-xmedium;
			flex-direction: column;
			padding: 10px 0;
			transition: background-color 0.05s ease-in;

			&:last-child {
				border: none;
			}

			&:nth-of-type(odd) {
				background-color: $light-grey;
			}

			&:hover {
				.fixture-table__row__scoreline__label {
					color: lighten($black, 30%);
					text-decoration: underline;
				}
			}

			&.date {
				background-color: $dark-white;
				color: $white;
				cursor: default;
				font-weight: bold;
				margin: 0;
				padding: 5px;
				width: 100%;
			}

			&__scoreline {
				display: flex;
				width: 100%;
			}

			&__element {
				align-items: center;
				display: flex;
				width: 45%;

				&:nth-of-type(1) {
					justify-content: flex-end;
					text-align: right;
				}
				&:nth-of-type(2) {
					font-weight: bold;
					text-align: center;
					width: 20%;

					@include respond-to(sm-max) {
						width: 20%;
					}
				}
				&:nth-of-type(3) {
					justify-content: flex-start;
					text-align: left;
				}

				&.--score {
					flex-direction: column;
				}
			}

			&__red-cards {
				display: flex;
				height: 100%;
				margin: 0 8px;
			}

			&__time {
				display: flex;
				padding: 5px 0 0;
				justify-content: center;
			}

			&--disabled {
				pointer-events: none;

				&:hover {
					color: $black;
					cursor: default;

					& > .fixture-table__row__scoreline {
						text-decoration: none;
					}
				}
			}
		}
	}

	@include respond-to(sm-max) {
		width: 100%;
	}
}
