.fixture-data {
	display: none;
	flex-direction: column;
	padding: 10px 0;

	&__score {
		font-weight: bold;
		padding: 0 10px;
	}

	&__events {
		display: flex;
		flex-direction: column;

		&__row {
			display: flex;

			&__event {
				display: flex;
				margin: 4px 0;
				width: 45%;

				.icon {
					background: url('../images/icons.png') 0 50% no-repeat;
					height: 100%;
					width: 12px;

					&.yellow-card {
						background-position: -2px 50%;
					}

					&.red-card {
						background-position: -30px 50%;
					}

					&.goal {
						background-position: -60px 50%;
					}
				}

				.goalscorer, .booked-player {
					margin: 0 10px;
				}

				&:nth-of-type(1) {
					display: flex;
					justify-content: flex-end;
				}
				&:nth-of-type(2) {
					display: flex;
					font-weight: bold;
					justify-content: center;
					width: 10%;
				}
				&:nth-of-type(3) {
				  align-items: flex-start;
				}
			}
		}
	}

	&.--active {
		display: flex;
	}
}
