.h2h-data {
  display: none;
	flex-direction: column;
	padding: 10px 0;

  &__title {
    font-weight: bold;
    margin: 0 0 10px;
  }

  &__first-v-second {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 65%;

    &__row {
      display: flex;
      flex-direction: column;
      margin: 0 0 10px;
    }

    &__date {
      border-bottom: 1px solid $light-grey;
      display: block;
      font-weight: 600;
      margin: 0 0 4px;
    }

    &__data {
      display: flex;
      justify-content: space-between;
      padding: 0 0 10px;
    }
    
    &__match-info {
      display: flex;
      width: 25%;

      &:nth-of-type(1) {
        justify-content: flex-start;
        text-align: left;
      }
      &:nth-of-type(2) {
        font-weight: bold;
        justify-content: center;
        width: 50%;
      }
      &:nth-of-type(3) {
        justify-content: flex-end;
        text-align: right;
      }
    }
  }

  &.--active {
    display: flex;
  }

  @include respond-to(sm-max) {
    &__first-v-second {
      width: 80%;
    }
  }
}
