header {
	color: white;
	background-color: #222;
	padding: 0;

	h1 {
		padding: 10px 15px;
	}

	nav {
		background-color: $dark-white;
		padding: 5px 15px;

		ul {
			display: flex;
			list-style: none;

			li {
				margin: 0 15px 0 0;

				&:hover, &.active {
					cursor: pointer;
					color: $dark-grey;
				}
			}
		}
	}
}
