header {
	color: white;
	background-color: #222;
	padding: 1px 20px;

	h1 {
		padding: 10px 0;
	}

	nav {
		ul {
			display: flex;
			list-style: none;

			li {
				min-width: 50px;

				&:hover {
					cursor: pointer;
					color: $light-grey;
				}
			}
		}
	}
}
