header {
	color: white;
	background-color: #222;
	padding: 0;

	h1 {
		padding: 10px 15px;
	}

	nav {
		background-color: $dark-white;
		padding: 0 15px;

		ul {
			display: flex;
			list-style: none;

			li {
				padding: 10px;

				&:hover, &.active {
					background-color: $dark-grey;
					color: $black;
					cursor: pointer;
				}
			}
		}
	}
}
