.standings {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__table {
    tr {
      td, th {
        text-align: center;

        &.--non-numeric {
          text-align: left;
        }
      }
      td {
        padding: 8px 0;
      }
      th {
        cursor: pointer;

        .standings__label {
          padding: 0 4px 0 0;
          pointer-events: none;
        }

        .standings__arrow {
          pointer-events: none;
        }
      }
    }
    tbody {
      font-size: $font-size-xmedium;

      tr {
        &.--promotion {
          background-color: $green;
          color: $white;
        }
        &.--playoffs {
          background-color: $primary-blue;
          color: $white;
        }
        &.--relegation {
          background-color: $dark-red;
          color: $white;
        }
      }
    }
  }

  &__picker {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px;
    width: 250px;

    &__label {
      font-weight: 600;
      margin: 0 0 4px;
    }
  }

  .standings__legend {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 450px;

    &__row {
      display: flex;
      padding: 5px 0;

      &__icon {
        height: 15px;
        width: 15px;

        &.--promotion {
          background-color: $green;
        }

        &.--playoffs {
          background-color: $primary-blue;
        }

        &.--relegation {
          background-color: $dark-red;
        }
      }

      &__label {
        font-weight: bold;
        padding: 0 0 0 10px;
      }
    }
  }
}

@include respond-to(sm-max) {
  .standings {
    width: 100%;

    &__picker {
      width: 100%;
    }
  }
}

@include respond-to(xs-max) {
  .standings__legend {
    width: 100%;
  }

  .standings__table {
    tr {
      th {
        width: 8%;
      }
    }
  }
}
