.standings {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;

    table {
      width: 50%;

      tr {
        td, th {
          text-align: center;

          &.--non-numeric {
            text-align: left;
          }
        }
        td {
          padding: 8px 0;
        }
      }
      tbody {
        tr {
          // The first two elements.
          &:nth-child(-n+2) {
            background-color: $green;
            color: $white;
          }

          // Elements' three through six.
          &:nth-child(n+3):nth-child(-n+6) {
            background-color: $primary-blue;
            color: $white;
          }

          // The last three elements.
          &:nth-last-child(-n+3) {
            background-color: $dark-red;
            color: $white;
          }
        }
      }
    }

    .standings__legend {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 450px;

      &__row {
        display: flex;
        padding: 5px 0;

        &__icon {
          height: 15px;
          width: 15px;

          &.--promotion {
            background-color: $green;
          }

          &.--playoffs {
            background-color: $primary-blue;
          }

          &.--relegation {
            background-color: $dark-red;
          }
        }

        &__label {
          font-weight: bold;
          padding: 0 0 0 10px;
        }
      }
    }
  }

  @include respond-to(sm-max) {
    .standings__wrapper {
      table {
        width: 100%;
      }
    }
  }

  @include respond-to(xs-max) {
    .standings__legend {
      width: 100%;
    }
  }
}
