$positions: 24;

.standings {
  width: 700px;

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__table {
    tr {
      td, th {
        text-align: center;

        &.--non-numeric {
          text-align: left;
        }
      }
      td {
        padding: 8px 0;
      }
      th {
        cursor: pointer;

        .standings__label {
          padding: 0 4px 0 0;
          pointer-events: none;
        }

        .standings__arrow {
          pointer-events: none;
        }
      }
    }
    tbody {
      font-size: $font-size-xmedium;

      tr {
        // The first two elements.
        @for $i from 1 through $positions {
          &.--position-#{$i} {
            @if $i < 3 {
              background-color: $green;
              color: $white;
            } @elseif $i < 7 {
              background-color: $primary-blue;
              color: $white;
            } @elseif ($i == $positions - 3
                      or $i == $positions - 2
                      or $i == $positions - 1
                      or $i == $positions) {
              background-color: $dark-red;
              color: $white;
            }
          }
        }
      }
    }
  }

  .standings__legend {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 450px;

    &__row {
      display: flex;
      padding: 5px 0;

      &__icon {
        height: 15px;
        width: 15px;

        &.--promotion {
          background-color: $green;
        }

        &.--playoffs {
          background-color: $primary-blue;
        }

        &.--relegation {
          background-color: $dark-red;
        }
      }

      &__label {
        font-weight: bold;
        padding: 0 0 0 10px;
      }
    }
  }
}

@include respond-to(sm-max) {
  .standings {
    width: 100%;
  }
}

@include respond-to(xs-max) {
  .standings__legend {
    width: 100%;
  }

  .standings__table {
    tr {
      th {
        width: 8%;
      }
    }
  }
}
