.mainBody {
	.teamData {
		display: none;
	}

	.fixtures {
		.fixtures_container {
			padding: 10px 0;

			table {
				margin: 0 0 20px;
				width: 100%;

				thead {
					tr {
						background-color: $dark-white;
						color: $white;

						td {
							font-weight: bold;
							padding: 5px;
						}
					}
				}

				tbody {
					tr {
						&:nth-of-type(odd) {
							background-color: $light-grey;
						}

						td {
							padding: 5px;
							width: 33%;

							&.dataCol {
								text-align: right;
							}
						}
					}
				}
			}
		}
	}
}
