// Section
section {
	padding: 10px;
}

// Table
table {
	border-collapse: collapse;
	margin: 0 0 20px;
	width: 100%;

	thead {
		tr {
			background-color: $dark-white;
			color: $white;

			th {
				font-weight: bold;
				padding: 6px 0;
			}
		}
	}

	tbody {
		tr {
			&:nth-of-type(odd) {
				background-color: $light-grey;
			}

			td {
				padding: 5px;

				&.dataCol {
					text-align: right;
				}
			}
		}
	}
}
